<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Taskerly</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="body">
    <header>
      <div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUI7rN4pfXTqRNjOuxVvVaaFybt-7cu4Lw_A&s"
          alt="Logo"
          class="home"
        />
        <h1 class="home">Bienvenido a Taskerly</h1>
        <h3 class="home">
          Organizar tus tareas diarias, nunca fue tan
          <span class="subrayada">simple</span> y
          <span class="subrayada">rápido</span>.
        </h3>
      </div>
    </header>

    <main>
      <router-outlet />
    </main>

    <footer>
      <p>&#169; Taller Web II - 2ºC 2024 - Todos los derechos reservados</p>
    </footer>
  </body>
</html>
