# Dependencias de Node.js
node_modules/
 
# Archivos de configuración específicos de IDEs
.idea/
.vscode/
 
# Archivos de log
*.log
 
# Archivos de configuración de sistema operativo (como Thumbs.db en Windows)
Thumbs.db
 
# Archivos temporales de OS
.DS_Store
 
# Carpeta de distribución del build (si usas algún tipo de compilación, como TypeScript o Webpack)
dist/
 
# Archivos de configuración de NPM
package-lock.json

.env