<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
</head>
<body class="body">
    <main class="alinear">
    <div class="container">
        <h2>Edite su tarea</h2>
    <form class="task-form">
        <input type="text" class="task-input" placeholder="Este es el título de la tarea obtenido de la BDD" required>
        <input type="text" class="task-input" placeholder="Esta es la descripción de la tarea obtenida de la BDD" required>
        <button type="submit" class="add-task-btn">Guardar Cambios</button>
    </form>
    </div>
</main>
</body>
</html>
